* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1;
}

:root {
  --text-color: #0b151b;
  --border-color: #ced0d1;
  --text-shadow: #858a8d;
  --box-shadow: #ced0d1;
  --background-color: #e6e7e8;
  --space-size-1: 0.25rem;
  --space-size-2: 0.5rem;
  --space-size-3: 0.75rem;
  --space-size-4: 1rem;
  --space-size-5: 1.25rem;
  --space-size-6: 1.5rem;
  --space-size-7: 1.75rem;
  --space-size-8: 2rem;
  --space-size-9: 2.25rem;
  --space-size-10: 2.5rem;
  --space-size-12: 3rem;
  --space-size-14: 3.5rem;
  --space-size-16: 4rem;
  --space-size-20: 5rem;
  --space-size-24: 6rem;
  --space-size-28: 7rem;
  --space-size-32: 8rem;
  --space-size-36: 9rem;
  --space-size-40: 10rem;
  --space-size-44: 11rem;
  --space-size-48: 12rem;
  --space-size-52: 13rem;
  --space-size-56: 14rem;
  --space-size-60: 15rem;
  --space-size-64: 16rem;
  --space-size-72: 18rem;
  --space-size-80: 20rem;
  --space-size-96: 24rem;
}

.dark-mode {
  --text-color: #e6e7e8;
  --text-shadow: #6c7276;
  --box-shadow: #000;
  --background-color: #0b151b;
}
